body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #40514E;
}

.car {
    height: 90vh;
}

.brand-logo {
    display: flex;
    justify-content: left;
}

h1 {
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    color: #66BFBF;
}
.sections{
    padding: 20px;
}
.header {
    z-index: 5;
    width: 100%;
    background-color: #66BFBF;
    height: 150px;
}

.nav-link {
    color: black;
    font-size: 1.5rem;
}

footer {

    background-color: #66BFBF;
    padding: 50px 0 20px;
    display: flex;
    justify-content: center;
}

a {
    color: #0a5c5e;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    margin: 10px 20px;
}

a:hover {
    color: #EAF6f6;
}

.copy {
    font-size: 0.75rem;
    padding: 20px 0;
    color: #EAF6F6
}

.cover-img {
    height: 70vh;
    width: 100%;

}

.info {
    text-align: center;
}

.info-head {
    text-align: center;

}

.info-para {
    max-width: 70%;
    text-align: center;
    /* background-color: red; */
    margin-left: 15%;
    line-height: 2;
    font-size: 20px;

}

.card {
    /* padding: 30px 20px; */
    padding: 30px;
    margin: 30px 30px;
    background-color: #ffffff;
    /* background-color: #66BFBF; */

    color: #F3EFF5;
    border-radius: 5%;
    box-shadow: 10px 10px 30px 0px #6e7995;

}

.album-image {
    border-radius: 5%;
}

.heading {
    margin-top: 50px;
}

.attractions {
    position: relative;
}

.sub-heading {
    display: block;
    margin-left: -60%;
}

.place-para {
    width: 50%;
    text-align: left;
    /* background-color: red; */
    margin-left: 15%;
    line-height: 2;
    font-size: 20px;

}

.ft-img {
    width: 20px;
    display: block;
}

.copy {
    font-size: 0.75rem;
    padding: 20px 0;
    color: #EAF6F6
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
    padding-bottom: 10px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}
form {
    border: 3px solid #f1f1f1;
    max-width: 330px;
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    padding: 1rem;
    margin: auto ;
}

input[type=text], input[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.cnt-btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    color: #ffffff;
    padding: 10px 20px 10px 20px;
    text-decoration: none;                                                                                       
  }

  
  .cnt-btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }
.containr{
    padding: 16px;
}
