body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #40514E;
}

.car {
    height: 90vh;
}

.header {
    position: absolute;
    z-index: 5;
    width: 100%;
    color: white;
}

.nav-link {
    color: black;
    font-size: 1.5rem;
}

footer {

    background-color: #66BFBF;
    padding: 50px 0 20px;
    display: flex;
    justify-content: center;
}

a {
    color: #0a5c5e;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    margin: 10px 20px;
}

a:hover {
    color: #EAF6f6;
}

.copy {
    font-size: 0.75rem;
    padding: 20px 0;
    color: #EAF6F6
}

.cover-img {
    height: 70vh;
    width: 100%;
    padding: 20px;
}

.info {
    text-align: center;
}

.info-head {
    text-align: center;

}

.info-para {
    max-width: 70%;
    text-align: center;
    /* background-color: red; */
    margin-left: 15%;
    line-height: 2;
    font-size: 20px;

}

.card {
    /* padding: 30px 20px; */
    padding: 30px;
    margin: 30px 30px;
    background-color: #bebeea;
    /* background-color: #66BFBF; */

    color: #F3EFF5;
    border-radius: 5%;
    box-shadow: 10px 10px 30px 0px #6e7995;
   
}

.album-image {
    border-radius: 5%;
}

.heading {
    margin-top: 50px;
}

.attractions {
    position: relative;
}

.sub-heading {
display: block;
margin-left: -60%;
}
.place-para{
    max-width: 70%;
    text-align: start;
    /* background-color: red; */
    margin-left: 15%;
    line-height: 2;
    font-size: 20px;

}